@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}



    <!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Telefon</h4>
                    <p>+90 535 235 2323</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Adres</h4>
                    <p>Yıldız İş Hanı Beşiktaş/İstanbul</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Açık olduğumuz saatler</h4>
                    <p>09:00 - 23:00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>pawfecthelp@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12092.44711796355!2d29.009469091831308!3d41.04200374051501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab74e6d1c86b7%3A0x8ec1a682fe6bb8ad!2sBe%C5%9Fikta%C5%9F%2C%20Istanbul%2C%20Turkey!5e0!3m2!1sen!2sus!4v1699532993171!5m2!1sen!2sus"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Beşiktaş</h4>
            <ul>
                <li>Telefon : 0212 444 2599</li>
                <li>Adres : Yıldız İş Hanı 5/22 Beşiktaş/İstanbul</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Mesaj Bırak</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Adın">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Soyadın">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Mesajın..."></textarea>
                    <button type="submit" class="site-btn">GÖNDER</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->