@model ConfirmOrderViewModel

@{
    ViewData["Title"] = "Siparişi Onayla";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Gözden geçir</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Ana Sayfa</a>
                        <span>İncele</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Adres Ve Ödeme İşlemi</h4>
            <form asp-action="ConfirmOrder" asp-controller="Basket" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Adı<span>*</span></p>
                                    <input asp-for="Address.FirstName" class="form-control" />
                                    <span asp-validation-for="Address.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Soyadı<span>*</span></p>
                                    <input asp-for="Address.LastName" class="form-control" />
                                    <span asp-validation-for="Address.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Ülke<span>*</span></p>
                            <input asp-for="Address.Country" class="form-control" />
                            <span asp-validation-for="Address.Country" class="text-danger"></span>
                        </div>
                        <div class="checkout__input">
                            <p>Adres<span>*</span></p>
                            <input asp-for="Address.StreetAddress" class="form-control" />
                            <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
                        </div>

                        <div class="checkout__input">
                            <p>Şehir<span>*</span></p>
                            <input asp-for="Address.City" class="form-control" />
                            <span asp-validation-for="Address.City" class="text-danger"></span>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Telefon<span>*</span></p>
                                    <input asp-for="Address.Phone" class="form-control" />
                                    <span asp-validation-for="Address.Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>E-posta<span>*</span></p>
                                    <input asp-for="Address.Email" class="form-control" />
                                    <span asp-validation-for="Address.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Kart Numarası<span>*</span></p>
                            <input asp-for="CreditCard.CardNumber" class="form-control" />
                            <span asp-validation-for="CreditCard.CardNumber" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Son Kullanma Tarihi<span>*</span></p>
                                    <input asp-for="CreditCard.ExpiryDate" class="form-control" placeholder="MM/YY" />
                                    <span asp-validation-for="CreditCard.ExpiryDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>CVC<span>*</span></p>
                                    <input asp-for="CreditCard.Cvc" class="form-control" />
                                    <span asp-validation-for="CreditCard.Cvc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Siparişiniz</h4>
                            <div class="checkout__order__products">Ürünler <span> Toplam</span></div>
                            <ul>
                                @foreach (var item in Model.BasketItems)
                                {
                                    <li>@item.ProductName <span>@item.ProductPrice.ToString("C")</span></li>
                                }
                            </ul>
                            <div class="checkout__order__subtotal">Ara Toplam <span>@Model.Subtotal.ToString("C")</span></div>
                            <div class="checkout__order__total">KDV'li Toplam <span>@Model.Total.ToString("C")</span></div>
                            <button type="submit" class="site-btn">SİPARİŞİ VER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
